.loader {
  position: relative;
  border: 5px solid #C4C5C5;
  border-radius: 80%;
  border-top-color: #5453E0;
  border-right-color: #5453E0;
  border-bottom-color: #5453E0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}